* { margin: 0; }

body {
  font-family: Karla;
  background: #5b6be5;

  overflow-x: hidden;
  overflow-y: auto;

  height: 100vh;
  width: 100vw;
}

#idDiv {
  color: white;
  float: left;

  position:absolute;
  top:20px;
  left:20px;
}


#signOut {
  color: white;
  float: left;

  position:absolute;
  top:30px;
  left:20px;
}

#dmBox {
  position: absolute;
  bottom: 5vh;
  right: 33px;

  float: right;

  width: 25vw;
  height: 5vh;

  border-radius: 5px;
  border: 1px solid black;

  padding-left: 10px;
  padding-right: 10px;
  overflow: none;

}

#currUserMessageBox {
  background: white;
  border-radius: 10px 10px 0 10px;

  float: right;
  position: relative;
  right: -120px;

  word-wrap: normal;
  max-width: 20vw;

  padding-left: 20px;

}

#currUserMessageText {
  width: 20vw;
  word-wrap: break-word;

  padding-right: 20px;
}

#currUserID {
  float: right;
  position: relative;
  bottom: 25px;
  right: 15px;
  color: #a5a4a5;

  overflow: auto;
}

#otherUserMessageBox {

}

#coolHeader {
  float: left;
  position: relative;
  bottom: 45px;
  left: 10vw;
}

#dm {
  width: 30vw;
  height: 88vh;

  border-left: 1px solid;
  float:right;

  background: #eceff1;
  overflow: auto;
}

#dm #uuid {
  z-index: 20;
}

#dm::-webkit-scrollbar { width: 0 !important }
#dm {overflow: -moz-scrollbars-none; }
#dm { -ms-overflow-style: none; }

#dmBottom {
  border-left: 1px solid black;
  width: 30vw;
  height: 12vh;

  position: relative;
  top: 88vh;
  left: 70vw;

  background: #eceff1;
}
#dm #uuid{
  position:absolute;
}
#dm #uuid #otherUser {
  background: #3264fc;

  width: 14.96vw;
  height: 5vh;
  text-align: center;
  float:left;
  color: white;

  padding-top: 6px;
}


#dm #uuid #currUser {
  background: white;

  width: 14.96vw;
  height: 5vh;

  float:right;
  text-align: center;
  padding-top: 6px;

}

#status {
  position: fixed;
  top: 50vh;
  left: 10vw;

  border: 1px solid;
  border-radius: 12px;

  width: 45vw;
  height: 40vh;

  background: white;

  overflow: auto;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
  }

  #dm {
    width: 100vw;
    top: 70vh;
    position: relative;
    border: none;
  }

  #dmBottom {
    width: 100vw;
    top: 175vh;
    left: -1vw;
    position: relative;

  }

  #coolHeader {
    position: relative;
    bottom: 80px;
    width: 100vw;
  }

  #dm #uuid #otherUser {
    width: 49.8vw;
  }

  #dm #uuid #currUser {
    width: 49.8vw;
  }

  #studentSelectBox {
    width: 30vw;
    position: relative;
    bottom: 40px;
  }

  #dmBox {
    width: 90vw;
    right: 15px;
  }
  #introText{
    content: "Hello";
    position: relative;
    right: 120vw;
  }
  #studentName {
    position: relative;
    right: 59vw;
    top: -0vh;

  }
  #submit {
    position: relative;
    left: -64vw;
  }


  #status {
    width: 90vw;

    left: 5vw;
    position: absolute;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  #dmBox {
    left: 20px;
  }
  #dm #uuid #otherUser {
    width: 14.8vw;
  }

  #dm #uuid #currUser {
    width: 14.96vw;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1210px) {
  #dm #uuid #otherUser {
    width: 15vw;
  }

  #dm #uuid #currUser {
    width: 14.7vw;
  }
}

@media only screen and (max-height: 400px) {
  #dmBox {
    height: 10vh;
    position: relative;
  }

  #dm #uuid #otherUser {
    height: 10vh;
  }

  #dm #uuid #currUser {
    height: 10vh;
  }

  #studentName {
    position: relative;
    top: 80px;
    left: 10px;
  }

  #submitText {
    position: absolute;
    top: 80vh;
  }

  #submit {
    position: relative;
    bottom: 80vh;
  }

}
