* { margin: 0; }

body {
  font-family: Karla;
  background: #5b6be5;
}

#dmBox {
  position: absolute;
  top: 90vh;
  right: 33px;

  float: right;

  width: 25vw;
  height: 5vh;

  border-radius: 5px;
  border: 1px solid black;

  padding-left: 10px;
  padding-right: 10px;
}

#coolHeader {
  float: left;
  position: relative;
  bottom: 45px;
  left: 10vw;
}

#dm {
  width: 30vw;
  height: 100vh;

  border-left: 1px solid;
  float:right;

  background: #eceff1;
  overflow: overlay;

  word-wrap: break-word;
}

#dm #uuid #otherUser {
  background: #3264fc;

  width: 14.96vw;
  height: 5vh;

  float:left;
  color: white;
  text-align: center;
}


#dm #uuid #currUser {
  background: white;

  width: 14.96vw;
  height: 5vh;

  float:right;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #dm {
    width: 100vw;
  }

  #coolHeader {
    display: none;
  }

  #dmBox {
    width: 90vw;
    right: 15px;
  }
}

@media only screen and (max-width: 900px) {

  #dmBox {
    right: 20px;
  }
}

@media only screen and (max-height: 400px) {
  #dmBox {
    height: 10vh;
    position: relative;
  }

  #dm #uuid #otherUser {
    height: 10vh;
  }


  #dm #uuid #currUser {
    height: 10vh;
  }
}
